* {
    font-family: 'Roboto', sans-serif;
    margin: 20px 20px;
    
}

header {
    display: flex;
    justify-content: space-between;
}

header a img {
    margin: 0px 0px;
    width: 30px;
}

header h1 {
    flex-grow: 2;
}

body {
    align-items: center;
    background-color: rgb(243, 241, 241);
}

.projects {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 30%;
    min-height: 400px;
    background-color: rgb(247, 247, 247);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box img {
    margin: 0;
    width:100%;
}

.box .programming {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.box .programming img {
    width: 25px;
    height: 25px;
}

.box .programming p {
    margin: 8px;
    font-weight: bold;
}

.box .text {
    text-align: justify;
    opacity: 70%;
    margin-bottom: 3px;
}

.box .buttons {
    display: flex;
    justify-content: center;
    margin: 2px;
    margin-top: 2px;
}

.box .buttons img {
    width: 20px;
    opacity: 70%;
}

@media screen and (max-width: 1060px) {
    .box .programming {
        flex-direction: column;
    }

}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 95%;
    }

    .box .text {
        text-align: left;
    }

    
}